<h2 mat-dialog-title>Terms & Conditions for Sutra</h2>
<mat-dialog-content class="mat-typography">
  <h3>1. Subject Matter of the Contract</h3>
  <p>The Sumations GmbH, Hellwisch 5, 22391 Hamburg (hereinafter referred to as the "Provider"), operates the website "Sutra," where companies and suppliers (hereinafter collectively referred to as "Users") can manage their supply chains. These Terms & Conditions govern the use of the website and associated services.</p>

  <h3>2. Access to Services</h3>
  <p>a. While certain features on Sutra require user registration, it is not mandatory for all aspects of the services. Users can explore parts of the platform without creating an account.</p>
  <p>b. For users opting to register, accurate and up-to-date information must be provided. However, users not registering are not subject to these requirements.</p>
  <p>c. Users, whether registered or not, are advised to maintain the security of any login credentials if created and refrain from sharing them with third parties.</p>

  <h3>3. Use of the Services</h3>
  <p>a. The use of Sutra's services is at the users' own risk.</p>
  <p>b. Users agree to use the services only in accordance with applicable laws and regulations and refrain from engaging in any unlawful activities.</p>

  <h3>4. Fees and Payments</h3>
  <p>a. The use of certain features of Sutra may involve fees. Fees will be clearly indicated before users access such features.</p>
  <p>b. Payments are made according to the payment terms specified on the website.</p>

  <h3>5. Intellectual Property</h3>
  <p>a. All rights to intellectual property, including trademarks and copyrights, related to Sutra, belong to the Provider.</p>
  <p>b. Users may not copy, reproduce, or otherwise use Sutra's content unless expressly permitted.</p>

  <h3>6. Privacy</h3>
  <p>Sutra's privacy policy governs the collection, use, and disclosure of users' personal data. By using Sutra's services, users agree to the privacy policy.</p>

  <h3>7. Disclaimer of Liability</h3>
  <p>The Provider assumes no liability for damages arising from the use of Sutra unless they result from gross negligence or intent of the Provider.</p>

  <h3>8. Changes to the T&C</h3>
  <p>The Provider reserves the right to change these T&C at any time. Changes will be communicated to users in a timely manner. Continued use of the services after such changes constitutes acceptance of the amended T&C.</p>

  <h3>9. Applicable Law and Jurisdiction</h3>
  <p>These T&C are subject to German law. Hamburg is the place of jurisdiction for all disputes related to these T&C.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

