<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-lg-6">
            <div class="login d-flex align-items-center justify-content-center">
                <div class="text-center mb-4 animate__animated animate__fadeInUp">
                    <p class="text-signup pb-3">Already have an account ?</p>
                    <!-- <p class="text-sub-s pb-2">Login to SUTRA and make your <br> supplychain management easier</p> -->
                    <button routerLink="../login" mat-raised-button class="mb-4">Login</button>
                </div>
            </div>
        </div>

        <!-- The content half -->
        <div class="col-lg-6 bg-light">
            <div class="login d-flex align-items-center">
                <!-- Demo content-->
                <div class="container animate__animated animate__fadeInDown">
                    <div class="row">
                        <div class="col-lg-11 col-xl-10 col-xxl-8 mx-auto">
                            <div class="text-center">
                                <p class="text-sub-l"><b class="text-login">Sign up for new account</b></p>
                            </div>

                            <mat-stepper #stepper>
                                <mat-step [stepControl]="firstFormGroup" errorMessage="All fields are required.">
                                    <form [formGroup]="firstFormGroup" class="row">
                                    <ng-template matStepLabel>Fill out your details</ng-template>
                                    <!-- Full Name -->
                                    <div class="mb-2 col-lg-6">
                                        <label for="full-name" class="form-label">Full Name *</label>
                                        <input type="text" class="form-control form-control-sm" id="full-name" placeholder="Type your full name..." formControlName="fullName">
                                    </div>

                                    <!-- Designation -->
                                    <div class="mb-2 col-lg-6">
                                        <label for="full-name" class="form-label">Designation *</label>
                                        <input type="text" class="form-control form-control-sm" id="full-name" placeholder="Type your designation..." formControlName="designation">
                                    </div>
                
                                    <!-- Email -->
                                    <div class="mb-3 col-lg-12">
                                        <label for="full-name" class="form-label">Email *</label>
                                        <input type="text" class="form-control form-control-sm" id="full-name" placeholder="Type your email..." formControlName="email">
                                    </div>
                
                                    <!-- Company id card  file upload-->
                                    <div class="mb-2 col-lg-12">
                                        @if (companyIdName) {
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" [value]="companyIdName" readonly required>
                                                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFile()">
                                                  <i class="bi bi-x-lg"></i> <!-- Using Bootstrap Icons for the 'x' icon -->
                                                </button>
                                            </div>
                                        } @else {
                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'btn-danger': firstFormGroup.get('companyIdCardFile')?.invalid && firstFormGroup.get('companyIdCardFile')?.touched}" (click)="fileInput.click()">
                                                  <i class="bi bi-paperclip"></i> <!-- Using Bootstrap Icons for the paperclip icon -->
                                                  Select File
                                                </button>
                                                <span style="font-size: 11px; padding-left: 8px;">Upload your company id card (img or pdf) *</span>
                                            </div>
                                        }
                                    
                                        <input type="file" accept="image/png, image/jpeg, image/gif, application/pdf" #fileInput style="display: none" (change)="onFileSelected($event)">
                                    </div>                                     
                
                                    <!-- password Feild -->
                                    <div class="form-group col-lg-6 mb-2">
                                        <label for="password" class="form-label">Password *</label>
                                        <div class="input-group">
                                            <input [type]="hide ? 'password' : 'text'" class="form-control form-control-sm" formControlName="password" id="password" placeholder="Enter your password">
                                            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'">
                                            <i class="{{ hide ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Confirm password Feild -->
                                    <div class="form-group col-lg-6">
                                        <label for="confirmPassword" class="form-label">Confirm password *</label>
                                        <div class="input-group">
                                          <input [type]="hideC ? 'password' : 'text'" class="form-control form-control-sm" formControlName="confirmPassword" id="confirmPassword" placeholder="Re-enter your password" [ngClass]="{'is-invalid': firstFormGroup.hasError('passwordMismatch')}">
                                          <button class="btn btn-outline-secondary btn-sm" type="button" (click)="hideC = !hideC" [attr.aria-label]="'Hide password'">
                                            <i class="{{ hideC ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
                                          </button>
                                        </div>
                                        @if (firstFormGroup.hasError('passwordMismatch') && firstFormGroup.get('confirmPassword')?.touched) {
                                            <p class="invalid-status">
                                                *Passwords do not match
                                            </p>
                                        }
                                    </div>                                   
                                    
                                    <div class="mt-1">
                                        <button matStepperNext class="btn btn-sm btn-light" (click)="validateFirstFormGroup()">Next</button>
                                    </div>
                                    </form>
                                </mat-step>
                
                
                                <mat-step [stepControl]="secondFormGroup" errorMessage="All fields are required.">
                                    <form [formGroup]="secondFormGroup" class="row">
                                    <ng-template matStepLabel>Fill out your company details</ng-template>
                                    <div class="mb-2 col-lg-6">
                                        <label for="full-name" class="form-label">Company name *</label>
                                        <input type="text" class="form-control form-control-sm" id="full-name" placeholder="Type your company name..." formControlName="companyName">
                                    </div>
                
                                    <!-- country(autocomplete/ng-bootstrap typehead) -->
                                    <div class="form-group col-lg-6 mb-2">
                                        <label for="country" class="form-label">Country *</label>
                                        <input type="text" class="form-control form-control-sm" id="country" placeholder="Type country name..." aria-label="Country" formControlName="country" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter">
                                      
                                        <ng-template #rt let-r="result" let-t="term">
                                          <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
                                        </ng-template>
                                    </div>                            
                
                                    <!-- company address -->
                                    <div class="mb-2 col-lg-6">
                                        <label for="companyAddress" class="form-label">Company address *</label>
                                        <input type="text" class="form-control form-control-sm" id="companyAddress" placeholder="Type country name..." formControlName="companyAddress">
                                    </div>
                
                                    <!-- company email -->
                                    <div class="mb-2 col-lg-6">
                                        <label for="companyEmail" class="form-label">Company email *</label>
                                        <input type="text" class="form-control form-control-sm" id="companyEmail" placeholder="Type country name..." formControlName="companyEmail">
                                    </div>
                
                                    <!-- Company license/tin/docs -->
                                    <div class="mt-2 mb-3 col-lg-12">
                                        @if (companyLicenseName) {
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" [value]="companyLicenseName" readonly required>
                                                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFileLicense()">
                                                  <i class="bi bi-x-lg"></i> <!-- Using Bootstrap Icons for the 'x' icon -->
                                                </button>
                                            </div>
                                        } @else {
                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'btn-danger': secondFormGroup.get('companyLicenseFile')?.invalid && secondFormGroup.get('companyLicenseFile')?.touched}" (click)="fileInputLicense.click()">
                                                  <i class="bi bi-paperclip"></i> <!-- Using Bootstrap Icons for the paperclip icon -->
                                                  Select File
                                                </button>
                                                <span style="font-size: 11px; padding-left: 8px;">Upload your company id card (img or pdf) *</span>
                                            </div>
                                        }
                                    
                                        <input type="file" accept="image/png, image/jpeg, image/gif, application/pdf" #fileInputLicense style="display: none" (change)="onFileSelectedLicense($event)">
                                    </div>
                
                                    <!-- Checkbox for accepting terms and conditions -->
                                    <div class="col-lg-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="termsAndCondition" formControlName="termsAndCondition">
                                            <label class="form-check-label" for="termsAndCondition" style="cursor: pointer;">
                                                I accept the
                                            </label>
                                            <a type="button" class="term-con ms-1" (click)="openDialog()">terms and conditions</a>
                                        </div>                                      
                                    </div>
                
                                    <div class="mt-2">
                                        <button class="btn btn-sm btn-light" matStepperPrevious>Back</button>
                                        <button class="btn btn-sm btn-light ms-2" (click)="stepper.reset()" (click)="clearFile()" (click)="clearFileLicense()">Reset</button>
                                        <button color="primary" class="float-end btn btn-sm btn-primary" [disabled]="firstFormGroup.invalid || secondFormGroup.invalid" (click)="onRegSubmit()">Sign up</button>
                                    </div>
                                    </form>
                                </mat-step>
                            </mat-stepper>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
