.text-login {
    font-weight: 500;
    font-size: 24px;
    /* line-height: 48px; */
    /* identical to box height */
    color: #000000;
}

mat-form-field {
    width: 100%;
    font-size: 12px;
}

.term-con {
    font-weight: 500;
    text-decoration: none;
    /* color: #92428e; */
}

.text-signup {
    font-weight: 500;
    font-size: 28px;
    color: #000000;
}

.form-control {
    background: #FCFCFC;
    border: 1px solid #02111B;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63, 81, 181, 0.6) !important;
    border-color: #3f51b5;
}

.form-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #02111B;
}

.form-check-label {
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.form-container {
    max-width: 320px;
    margin: auto;
}

.login-text {
    /* padding: 40px 0px; */
    font-weight: 500;
    font-size: 30px;
    /* line-height: 54px; */
    /* identical to box height */

    color: #000000;
}

.span-sizing {
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;

    color: #000000;
}

.btn-hover:hover {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}

.login {
  height: calc(100vh - 60px);
}

/* Links */

.link {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(45, 69, 202);
    font-size: 15px;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}


/* Link 6 */

.link-6 {
    font-size: 15px;
}

.link-6::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-6:hover span {
    transform: translate3d(0, -2px, 0);
}

.form-control.is-invalid, .form-control.ng-invalid.ng-touched {
    border-color: #dc3545;
}