<div class="body">
    <div class="container vh-75">
        <div class="row justify-content-center h-75 mt-5">
            <div class="my-auto">
                @if (emailConfirmed) {
                    <div>
                        <div class="text-center">
                            <h2>Activation Confirmed.</h2>
                        </div>
                        <p class="text-center mt-4 p-info">Your account is now prepared for use.  <br> Kindly log in to commence your business endeavors.</p>
                    </div>
                } @else {
                    <div>
                        <div class="text-center">
                            <h2>Activation not Confirmed.</h2>
                        </div>
                        <p class="text-center mt-4 p-info">Please try again. <br> Go ahed and login to get started with sutra.</p>
                    </div>
                }
                <div class="text-center mt-5">
                    <a type="button" class="link link-6" (click)="navigateLogin()"> <span>Back to Login</span></a>
                </div>
            </div>
        </div>

    </div>
    <!-- container end -->
</div>
