<app-navbar></app-navbar>
<div class="body">
    <!-- for spinner of ngx-Spinner -->
    <ngx-spinner bdColor="rgba(255,255,255,0.9)" size="default" color="#408ee0" type="line-spin-fade-rotating" [fullScreen]="false" [zIndex]="89">
        <p style="font-size: 16px; margin-left: 10px; color: #408ee0">Loading...</p>
    </ngx-spinner>
    
    <div class="container">        
        <div class="row justify-content-center h-75 mt-5">
            <div class="my-auto">
                @if (emailConfirmed) {
                    <div>
                        <div class="text-center">
                            <h2>Activation Confirmed.</h2>
                        </div>
                        <p class="text-center mt-3 p-info">Your account is now prepared for use.  <br> Kindly log in to commence your business endeavors.</p>
                    </div>
                } @else {
                    <div>
                        <div class="text-center">
                            <h2>Activation not Confirmed.</h2>
                        </div>
                        <p class="text-center mt-3 p-info">Please try again. <br> Go ahed and login to get started with sutra.</p>
                    </div>
                }
                <div class="text-center mt-5">
                    <a type="button" class="link link-6" (click)="navigateLogin()"> <span>Back to Login</span></a>
                </div>
            </div>
        </div>

    </div>
    <!-- container end -->
</div>
