.example-spacer {
  flex: 1 1 auto;
}

.sticky-toolbar {
    position: sticky;
    top: 0; /* Adjust this value based on your needs */
    z-index: 1000; /* Ensures the toolbar stays on top of other elements */
}

.shadow {
    -webkit-box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f !important;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f !important;
}

.mat-toolbar-multiple-rows {
    min-height: 0;
}

.toolbar-main {
    max-height: 55px !important;
}

.mat-toolbar-row.second-toolbar {
    max-height: 45px !important;
}

.btn-text {
    font-size: 12px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}