
.text-signup {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

/* Css Style classes for hovering from canvas mix-link hover styles */


/* Links */

.link {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    color: #3f51b5;
    font-size: 15px;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}


/* Link 6 */

.link-6 {
    font-size: 15px;
}

.link-6::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-6:hover span {
    transform: translate3d(0, -2px, 0);
}


/* Link 3 */

.link-3::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-3:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.link-3::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-3:hover::after {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}


/* for tabs */

.nav-modi {
    background: #FFFFFF;
    box-shadow: inset -6px -6px 4px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 39.5px;
    padding: 2px 3px;
    width: auto;
}

.nav-tabs .nav-link.active {
    color: #FFFFFF;
    background: #3f51b5;
    box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(151, 149, 169, 0.5);
    border-radius: 39.5px;
    padding: 9px 25px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #3f51b5;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .body {
        background: none;
    }
    .text-signup {
        font-size: 18px;
    }
    .text-sub-s {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .body {
        background: none;
    }
    .text-signup {
        font-size: 20px;
    }
    .text-sub-s {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .body {
        background-size: 550px 250px;
    }
    .text-signup {
        font-size: 25px;
    }
}


/* Big screen devices (889px and above) */

@media only screen and (min-width: 992px) and ((max-width: 1200px)) {
    .body {
        background-size: 580px 280px;
    }
}

.form-control {
    background: #FCFCFC;
    border: 1px solid #02111B;
    border-radius: 3px;
    height: 34px;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 45, 145, 0.6) !important;
    border-color: #962d91;
}

.form-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #02111B;
}

.form-container {
    max-width: 320px;
    margin: auto;
}

.login-text {
    /* padding: 40px 0px; */
    font-weight: 500;
    font-size: 30px;
    /* line-height: 54px; */
    /* identical to box height */

    color: #000000;
}

.span-sizing {
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;

    color: #000000;
}

.btn-hover:hover {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}

.login {
  height: calc(100vh - 80px);
}

/* Links */

.link {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(45, 69, 202);
    font-size: 15px;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}


/* Link 6 */

.link-6 {
    font-size: 15px;
}

.link-6::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link-6 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-6:hover span {
    transform: translate3d(0, -2px, 0);
}