<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-lg-6">
            <div class="login d-flex align-items-center">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <form class="form-container animate__animated animate__fadeInDown"  #loginForm="ngForm" id="loginForm" (ngSubmit)="onLogin(loginForm)">
                                <div class="text-start animate__animated animate__fadeInDown mb-4">
                                    <h3 class="login-text">Login</h3>
                                    <!-- <p style="color: black; font-size: 12px;">Welcome back! Login using your email address and password</p> -->
                                </div>
                        
                                <div class="mb-3">
                                    <label for="ticket-number" class="form-label">Email address</label>
                                    <input ngModel required name="email" type="text" class="form-control" id="ticket-number" placeholder="Enter your email">
                                </div>
                                <div class="mb-3">
                                    <label for="Password" class="form-label">Password</label>
                                    <input ngModel required name="password" type="password" class="form-control" id="Password" placeholder="Enter your password">
                                </div>
                        
                                <div class="pt-2">
                                    <div class="d-grid mx-auto">
                                        <button type="submit" mat-raised-button color="primary">Login</button>
                                    </div>
                                </div>

                                <!-- forgot pass field --> 
                                <div class="text-center mt-3">
                                    <a class="link link-6" type="button" routerLink="../forgot-password"> <span>Forgot Password?</span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- The content half -->
        <div class="col-lg-6 bg-light">
            <div class="login d-flex align-items-center justify-content-center">
                <div class="text-center mb-4">
                    <p class="text-signup pb-2">Don’t have an account ?</p>
                    <p class="text-sub-s pb-2">Join to SUTRA and make your <br> supplychain management easier</p>
                    <button type="button" routerLink="../signup" mat-raised-button class="mb-4">Sign up</button>
                </div>
            </div>
        </div>

    </div>
</div>
