<div class="sidebar">
    <ul class="list-unstyled ps-0 ms-3 mt-3 mb-3">
        <!-- Company Data part -->
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">About</button>
        </li>
        <!-- Product Part -->
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Product</button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">Site Data</button>
        </li>
        <!-- Human resource part -->
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Human Resource</button>
        </li>
        <!-- Policies & Procedures part -->
        <!-- <li class="border-top my-3"></li> -->
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Policies & Procedures</button>
        </li>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
