<nav class="navbar transparent navbar-expand-lg navbar-inverse sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 nav-title" type="button" routerLink=""><span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="vertical-align: -5px;"></mat-icon></span> Sutra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    </div>
  </div>
</nav>
