<div class="sidebar">
    <ul class="list-unstyled ps-0 ms-3 mt-3 mb-3">
        <!-- Company Data part -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0" routerLink="about" routerLinkActive="btn-toggle-active">About</button>
        </li>
        <!-- General Data Part -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0" routerLink="general-data" routerLinkActive="btn-toggle-active">General Data</button>
        </li>
        <!-- Department -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0">Department</button>
        </li>
        <!-- Certificate -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0">Certificates</button>
        </li>
        <!-- Audit Report -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0">Audit Reports</button>
        </li>
        <!-- Customer part -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0">Customer</button>
        </li>
        <!-- Supplier part -->
        <li class="mb-1">
            <button class="btn btn-sm btn-toggle d-inline-flex align-items-center rounded border-0">Supplier</button>
        </li>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
